:root {
  --primary: #98A8F8;
  --primary-thin: #BCCEF8;
  --secoudary: #CDFCF6;
  --accent: #F89898;
  --background:#FAF7F0;

  font-size: 10px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
}