.header{
  background-color: var(--primary);
  width: 100vw;
  height: 80px;
}

.ctrl_container{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 190px 1fr;
  text-align: center;
  margin-bottom: 50px;
}

.last_week,
.next_week{
  font-size: 2rem;
}

.last_week > p ,
.next_week > p {
  line-height: 4rem;
}

.range{
  font-size: 2.5rem;
}

.gunchart_container{
  width: 80%;
  min-width: 350px;
  margin-inline: auto;
}

.date_container{
  display: grid;
  grid-template-columns: 33px 50px 1fr;
  margin-bottom: 20px;
  background-color: aqua;
}

.date{
  background-color: var(--primary-thin);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.names{
  padding: 5px 0;
  background-color: var(--secoudary);
}

.name{
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 20px;
  text-align: center;
}

.guncharts{
  padding-top: 10px;
  background-color: var(#333);
  background-image: linear-gradient(90deg, transparent calc(100% / 14 - 1px), var(--primary-thin) calc(100% / 14));
  background-size: calc(100% / 14);
  background-position: calc(100% / 28);
}

.bar{
  height: 10px;
  width: calc((var(--end) - var(--start)) * 100% / 14);
  margin-left: calc(100% * (var(--start) - 7.5) / 14);
  margin-bottom: 10px;
  background-color: var(--accent);
}

.footer{
  background-color: var(--primary);
  height: 20px;
  color: var(--background);
}

.copylight{
  text-align: center;
  line-height: 20px;
}